
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    
}
:root{
    --couleur_orange : rgba(241, 167, 22, 1);
}
#corp_tache{
    /* background-color: white; */
    width: 1250px;
    /* height: 500px; */
}
#en_tête{
    background-color: rgba(235, 23, 201, 0.97);
    width: 1300px;
}
#titre{
    margin-left: 70px;
    color: white;
    padding-top: 10px;
    font-size: 30px;
   

}
#ajout_tâche {

    display:flex;
    justify-content: space-around;
    
    
    
}
.listTache{
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}

#ul li {
    margin-top: 30px;
    background-color: var(--couleur_orange);
    border-radius: 50px;
    width: 1200px;
    height: 50px;
    
    

}
li span {
    color: rgb(0, 0, 0);
    font-size: 15px;
    
}

#text_tache{
    width: 300px;
    height: 60px;
    border-radius: 50px;
    border-color:var(--couleur_orange);
    border-style:solid;
    font-size: 150%;
    text-align: center;
    padding: 17px;
    

}
#input-date{

    width: 150px;
    height: 35px;
    border-radius: 50px;
    border-color:var(--couleur_orange);
    border-style:solid;
    font-size: 120%;

}
#numero_prioriter
{
    width: 150px;
    height: 35px;
    border-radius: 50px;
    border-color:var(--couleur_orange);
    border-style:solid;
    font-size: 120%;
   
}
#button_ajouter
{
    width: 200px;
    height: 70px;
    border-radius: 50px;
    margin-top: 10px;
    background-color:var(--couleur_orange);
    font-size: 150%;
}
#button_statut{
    border-radius: 20px;
    margin-left: 10px;
}
ul li span:nth-child(2){
    
    background-color: rgba(255, 255, 255, 0.97);
    border-radius: 50px;
    height: 30px;
    width: 350px;
    text-align: center;
    padding-top: 14px;
    
 }
 ul li span:nth-child(3){
    
    background-color: rgba(255, 255, 255, 0.97);
    border-radius: 50px;
    height: 30px;
    width: 80px;
    text-align: center;
    padding-top: 14px;
 }
 ul li span:nth-child(4){
    
    background-color: rgba(255, 255, 255, 0.97);
    border-radius: 50px;
    height: 30px;
    width: 60px;
    text-align: center;
    padding-top: 14px;
 }
 #checkBouton{
    
    width: 30px;
    height: 20px;
    text-decoration: line-through;
 }
 @media (max-width: 950px){

    #en_tête{
        width: 100%;
        
    }
   #ajout_tâche {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   #corp_tache{
    width: 100%;
   }
   .listTache{
    width: 100%;
   }
   #ul li{
    width: 97%;
   }
   li span{
    font-size: 0.6em;
   }
   #titre{
    text-align: center;
    margin-right: 15%;
   }
   ul li span:nth-child(2){
    width: 80%;
   }
 }
 @media (max-width: 700px){

    #en_tête{
        width: 100%;
        
    }
   #ajout_tâche {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   #button_statut{
    width: 100%;
}
   #corp_tache{
    width: 100%;
   }
   .listTache{
    width: 100%;
   }
   #ul li{
    width: 100%;
   }
   li span{
    font-size: 0.6em;
   } 
   #titre{
    text-align: center;
    margin-right: 15%;
   }
   ul li span:nth-child(1){
    width: 20px;
   }
   ul li span:nth-child(2){
    width: 90px;
   }
 }