
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    
}
:root{
    --couleur_orange : rgba(240, 226, 104, 0.781);
}
#corp_tache{
    /* background-color: white; */
    width: 800px;
    /* height: 500px; */
}
#en_tête{
    background-color: rgba(95, 82, 93, 0.97);
    width: 800px;
}
#titre{
    margin-left: 70px;
    color: white;
    padding-top: 10px;
    font-size: 30px;
   

}
#ajout_tâche {

    display:flex;
    justify-content: space-around;
    
    
    
}
.listTache{
    display: flex;
    justify-content:space-between;
    align-items: center;
    transition: 0.8s;
    
}

#ul li {
    margin-top: 30px;
    background-color: var(--couleur_orange);
    border-radius: 50px;
    width: 700px;
    height: 50px;
    transition: 0.8s;
    
    

}
li span {
    color: rgb(0, 0, 0);
    font-size: 15px;
    
}

#text_tache{
    width: 300px;
    height: 60px;
    border-radius: 50px;
    border-color:var(--couleur_orange);
    border-style:solid;
    font-size: 150%;
    text-align: center;
    padding: 17px;
    

}
.date_tache{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
#icone_date{
    width:30px ;

}
#input-date{

    width: 100px;
    height: 35px;
    border-radius: 50px;
    font-size: 100%;

}

#numero_prioriter
{
    width: 100px;
    height: 35px;
    border-radius: 50px;
    font-size: 100%;
   
}
.priorite{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#icone_priorité{
    width:30px ;
}
#button_ajouter
{
    width: 150px;
    height: 70px;
    border-radius: 50px;
    margin-top: 10px;
    /* background-color:var(--couleur_orange); */
    font-size: 150%;
    text-decoration: none;
    transition: 0.5s;
}
#button_ajouter:hover{
    background: var(--couleur_orange);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--couleur_orange);
}

#button_statut{
    border-radius: 20px;
    margin-left: 10px;
}
#text_tache_liste{
    
    background-color: rgba(255, 255, 255, 0.97);
    border-radius: 50px;
    height: 30px;
    width: 350px;
    text-align: center;
    
 }
 .deleteBtn {
    border-radius: 90px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 100px;
    font-size: 16px;
    height: 30px;
    text-decoration: none;
    transition: 0.5s;
}
.deleteBtn:hover{
    background: red;
    letter-spacing: 0.10em;
    box-shadow: 0 0 35px red;
}
 ul li span:nth-child(3){
    
    background-color: rgba(255, 255, 255, 0.97);
    border-radius: 50px;
    height: 20px;
    width: 80px;
    text-align: center;
    
 }
 ul li span:nth-child(4){
    
    background-color: rgba(255, 255, 255, 0.97);
    border-radius: 50px;
    height: 20px;
    width: 60px;
    text-align: center;
    
 }
 
 @media (max-width: 800px){

    #en_tête{
        width: 100%;
        
    }
   #ajout_tâche {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   #corp_tache{
    width: 100%;
   }

   .listTache{
    width: 100%;
   }
   #ul li{
    width: 97%;
   }
   li span{
    font-size: 0.6em;
   }
   #titre{
    text-align: center;
    margin-right: 15%;
   }
   #text_tache_liste{
    width: 80%;
   }
 }
 @media (max-width: 600px){

    #en_tête{
        width: 100%;
        
    }
   #ajout_tâche {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   #button_statut{
    width: 100%;
}
   #corp_tache{
    width: 100%;
   }
   .listTache{
    width: 100%;
   }
   #ul li{
    width: 100%;
   }
   li span{
    font-size: 0.6em;
   } 
   #titre{
    text-align: center;
    margin-right: 15%;
   }
   ul li span:nth-child(1){
    width: 20px;
   }
   #text_tache_liste{
    width: 90px;
   }
   
#button_ajouter:hover{
   background: var(--couleur_orange);
   letter-spacing: 0.25em;
   box-shadow: 0 0 35px var(--couleur_orange);
}
 }
 @media (max-width: 460px){

    #en_tête{
        width: 100%;
        
    }
   #ajout_tâche {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   #button_statut{
    width: 100%;
}
   #corp_tache{
    width: 400px;
   }
   .listTache{
    width: 100%;
   }
   #ul li{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: -19px;
   }
   li span{
    font-size: 0.6em;
   } 
   #titre{
    text-align: center;
    margin-right: 15%;
   }
   ul li span:nth-child(1){
    width: 20px;
   }
   #text_tache_liste{
    width: 300px;
   }
   #button_ajouter{
    text-decoration: none;
    transition: 0.5s;
   }
   #button_ajouter:hover{
    background: var(--couleur_orange);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--couleur_orange);
 }
 #button_statut{
    border-radius: 20px;
    width: 70px;
    margin-left: -20px;
    
}
.deleteBtn{
    text-decoration: none;
    transition: 0.5s;
    color: red;

}
 }